<div class="container-fluid mt-5">
  <div class="main-visual">
    <div class="main-visual-content">
      <h1 class="row ml-3 pt-5 text-center text-light">
        つながる防災.netとは
      </h1>
      <div class="row m-3">
        <h5 class=" main-visual-text text-light">
          つながる防災.netは、お住まいの地域の危険箇所を画像投稿することで、<br>
          最新の状況を自治体と共有することを目的としたコミュニティサイトです。<br>
          平常時よりつながりをもつことで、災害発生時にもスムーズな情報共有を可能とし、<br>
          より安心安全な地域づくりに貢献することを目指します。
        </h5>
      </div>
    </div>
  </div>
</div>