<div class="container mt-5">
  <div class="row pt-5">
    <div class="col-12 text-center">
      <h1>退会しますか？</h1>
    </div>
  </div>
  <div class="row mt-3">
    <h4 class="col-12 text-center">
      退会手続きをされますと、画像やコメントの投稿がご利用いただけなくなります。<br>
      再度ご利用いただく際は、新規登録が必要になります。<br>
      本当に退会してよろしいですか？
    </h4>
  </div>
  <div class="row mt-5">
    <div class="col-4 offset-2 text-center">
      <%= link_to "はい、退会します", unsubscribe_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class:"btn btn-danger btn-lg" %>
    </div>
    <div class="col-4 text-center">
      <%= link_to "いいえ、退会しません", general_user_path(current_general_user), class:"btn btn-success btn-lg" %>
    </div>
  </div>
  